<div class="row no-gutters height-cust">
    <div class="col-md-4 offset-md-4 landing-wrap align-self-center">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="wrap-inside">
                    <div class="col-md-12 text-center">
                    </div>
                    <div class="col-md-12 text-center" style="text-align: center">
                        <div id="loading"><img
                                src="{{ url_for('static', filename = 'images/loader.gif') }}" alt="Loading"/>
                            <p style="text-align: center" id="loader_detail">Loading!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(window).load(function () {
        setTimeout(function () {
            $("loader_detail").html("Collecting data");
        }, 500);
        setTimeout(function () {
            $("loader_detail").html("Almost done...");
        }, 1000);
    });
</script>