{% extends "header.html" %}
{% block content %}
<div class="row no-gutters">
    <div class="col-md-8 offset-md-2">
        <div class="dash-wrap">
            <div class="row no-gutters mar-side">
                <div class="col-md-4 box-wrap">
                    <div class="box text-center">
                        <p class="title">Tweet score</p>
                        <p class="percent">{{prediction['tweet_percentage']}}%</p>
                        <!--                        <p class="percent">{{prediction['tweet_prediction']}}</p>-->

                    </div>
                </div>
                <div class="col-md-4 box-wrap fiz-score">
                    <div class="box text-center">
                        <p class="title">Final Fizzy Score</p>
                        <p class="percent">{{prediction['fuzzy_score']}}%</p>
                    </div>
                </div>
                <div class="col-md-4 box-wrap">
                    <div class="box text-center">
                        <p class="title">User score</p>
                        <p class="percent">{{prediction['user_percentage']}}%</p>
                        <!--                        <p class="percent">{{prediction['user_prediction']}}</p>-->
                    </div>
                </div>
                <div class="col-md-6 box-wrap">
                    <div class="box text-center">
                        <p class="title">Drifted</p>
                        <p class="percent">NO</p>
                    </div>
                </div>
                <div class="col-md-6 box-wrap">
                    <div class="box text-center">
                        <p class="title">Drifted score</p>
                        <p class="percent">N/A</p>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-8 offset-md-2 tweet-wrap">
                    <div class="row no-gutters">
                        <div class="col-md-12 tweet">
                            <h5>Tweet</h5>
                            <p>{{prediction['tweet']}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row no-gutters mar-sec">
                        <div class="col-md-6 add-pad">
                            <div class="tweet user-details">
                                <h5>Username</h5>
                                <p>@{{prediction['user']}}</p>
                            </div>
                        </div>
                        <div class="col-md-6 add-pad">
                            <div class="tweet user-details">
                                <h5>User URL</h5>
                                <p>{{prediction['user_image']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row no-gutters">
                <div class="col-md-12">
                    <p>
                        <a class="btn btn-primary cust-btn" data-toggle="collapse" href="#collapseExample" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Get word cloud <span class="float-right"><i class="fas fa-chevron-down"></i></span>
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <img src="test.jpg" alt="This contains the word cloud of the tweet">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
