{% extends "header.html" %}
{% block content %}
<div class="row no-gutters">
    <div class="col-md-8 offset-md-2">
        <div class="dash-wrap">
            <div class="row no-gutters">
                <div class="col-md-12">
                    {% count = 1 %}
                    {% for drift in drifted %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-10"><p class="tweet-main">{{ drift }}</p></div>
                                <div class="col-md-2">
                                    <p class="text-right">
                                        <input type="checkbox" id="test{{ count }}" name="test{{count}}"/>
                                        <label for="test{{ count }}"></label>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor%}
                    <div class="card">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-10"><p class="tweet-main">This is some text within a card
                                    body.</p></div>
                                <div class="col-md-2">
                                    <p class="text-right">
                                        <input type="checkbox" id="test2" checked="checked"/>
                                        <label for="test2"></label>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <button class="btn btn-danger btn-review" type="submit">Re-train</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary btn-review" type="submit">Reset</button>
                            <button class="btn btn-success btn-review" type="submit">Submit</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
