{% extends "header.html" %}
{% block content %}
<div class="row no-gutters" id="review-div">
    <div class="col-md-8 offset-md-2">
        <div class="dash-wrap">
            <form method="post" action="{{ url_for('review') }}" id="flag-drift-tweets">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages%}
                        {% for category, message in messages %}
                        <div id="flash-message" class="alert alert-{{category}}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <div>
                            <p class="tweet-main"><strong>Flag Drifted Tweets</strong></p>
                        </div>
                        {% if (drifted is defined) and drifted %}
                        {% for drift in drifted %}
                        <div class="card">
                            <label for="{{loop.index}}">
                                <div class="card-body">
                                    <div class="row no-gutters">
                                        <div class="col-md-10"><p class="tweet-main">{{drift}}</p></div>
                                        <div class="col-md-2">
                                            <p class="text-right">
                                                <input type="checkbox" name="checked_drift" id="{{loop.index}}"
                                                       value="{{drift}}"/>
                                                <label for="{{loop.index}}"> </label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-md-10"><p class="tweet-main"> No Drifted Tweets available at the
                                        moment for reviewing</p></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <div class="row no-gutters">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary btn-review" type="reset">Reset</button>
                                <!--                                <button class="btn btn-success btn-review" id="select-all">Select All</button>-->
                                <button class="btn btn-success btn-review" name="confirm_spam" type="submit">Confirm
                                    Spam
                                </button>
                                <button class="btn btn-danger btn-review" name="remove" type="submit">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row no-gutters" id="review-div2">
    <div class="col-md-8 offset-md-2">
        <div class="dash-wrap">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div>
                        <p class="tweet-main"><strong> Retraining Classifier Details</strong></p>
                        <p class="tweet-main"> Number of Flagged Tweets : {{
                            retrain_information_array['number_drift_tweets']}}</p>
                        <p class="tweet-main"> Last Retrained Date and Time : {{
                            retrain_information_array['date_time']}}</p>
                    </div>
                    {% if (retrain_information_array is defined) and (retrain_information_array['number_drift_tweets']
                    != 0) %}
                    {% for drift_tweet in retrain_information_array['flagged_drift_tweets'] %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-10"><p class="tweet-main">{{ drift_tweet }}</p></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-10"><p class="tweet-main">{{
                                    retrain_information_array['flagged_drift_tweets']}}</p></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <form method="post" action="{{ url_for('review') }}" id="retrain-details">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                {% if retrain_information_array['number_drift_tweets'] == 0 %}
                                <button class="btn btn-danger btn-review" name="retrain" type="submit" disabled>Re-train
                                </button>
                                {% else %}
                                <button class="btn btn-danger btn-review" name="retrain" onclick="onclick_event()"
                                        type="submit">Re-train
                                </button>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row no-gutters height-cust" id="loader-review" style="display:none;">
    <div class="col-md-4 offset-md-4 landing-wrap align-self-center">
        <div class="row no-gutters">
            <div class="col-md-12">
                <div class="wrap-inside">
                    <div class="col-md-12 text-center" style="text-align: center">
                        <div id="loading" style="display:none;"><img
                                src="{{ url_for('static', filename = 'images/loader.gif') }}" alt="Loading"/>
                            <p style="text-align: center" id="loader_detail">Retraining Classifier...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script>-->
<!--    $("#select-all").on("click", function () {-->

<!--    $("#flag-drift-tweets").each( function() {-->
<!--             $(this).find("input").attr('checked', true);-->
<!--    });-->
<!--});-->
<!--</script>-->
<script>
    function onclick_event() {
        $('#review-div').hide();
        $('#review-div2').hide();
        $('#loader-review').show();
        $('#loading').show();
    }
</script>
<script>
    $(document).ready(function () {
        // $("#flash-message").delay(2000).slideUp(300);
        $("#flash-message").fadeIn(1000).delay(2000).fadeOut(3000);
    });
</script>
{% endblock content %}
