{% extends "header.html" %}
{% block content %}
<div class="row no-gutters">
    <div class="col-md-8 offset-md-2">
        <div class="dash-wrap">
            <form method="post" action="{{ url_for('review') }}">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div>
                            <p class="tweet-main"><strong>Flag Drifted Tweets</strong></p>
                        </div>
                        {% if (drifted is defined) and drifted %}
                        {% set count = [1] %}
                        {% for drift in drifted %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-md-10"><p class="tweet-main">{{ drift }}</p></div>
                                    <div class="col-md-2">
                                        <p class="text-right">
                                            <input type="checkbox" name="checked_drift[]" id="review{{ count }}"
                                                   value="{{ drift }}"/>
                                            <label for="review{{ count }}"></label>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if count.append(count.pop() + 1) %}{% endif %}
                        {% endfor %}
                        {% else %}
                        <div class="card">
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-md-10"><p class="tweet-main"> No Drifted Tweets available at the
                                        moment for reviewing</p></div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <div class="row no-gutters">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary btn-review" type="reset">Reset</button>
                                <button class="btn btn-success btn-review" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-8 offset-md-2">
        <div class="dash-wrap">
            <div class="row no-gutters">
                <div class="col-md-12">
                    <div>
                        <p class="tweet-main"><strong> Retraining Classifier Details</strong></p>
                        <p class="tweet-main"> Number of Flagged Tweets : 12</p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row no-gutters">
                                <div class="col-md-10"><p class="tweet-main"> No Drifted Tweets available at the moment
                                    for reviewing</p></div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-10"><p class="tweet-main"> No Drifted Tweets available at the moment
                                    for reviewing</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <button class="btn btn-danger btn-review" type="submit">Re-train</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
